/* signup.css */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    margin-top: auto;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin: 0.5rem 0 0.25rem;
}

input, select, button {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

input, select {
    background: rgba(255, 255, 255, 0.2);
    color: #2d2b2b;
}

button {
    background: #2575fc;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background: #6a11cb;
}

#back a{
    text-decoration: none;
    color: white;
}

#back button{
    background-color: #2575fc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 80px;
    height: 40px;
}
#back button:hover{
    background-color: #6a11cb;
}

#back{
    display: flex;
    justify-content: flex-end;
    
}